@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2E7D32;
}

body {
  font-family: var(--font-poppins), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
